* {
    margin:0;
    padding: 0;
}

body{
    font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}

a.nav-link.js-scroll-trigger{
    font-family: 'Oswald', sans-serif;
    transition: all .2s ease-in-out; 
    color: #fff;
    padding: 0 10px;
    font-size: 20px;
}

a.nav-link.js-scroll-trigger:hover{
    font-family: 'Oswald', sans-serif;
    color:#fff;
    transform: scale(1.1); 
    
}

#slider{
    width:100%;
}

.carousel-inner img {
    filter: brightness(70%);
}
.carousel-caption{
    top: 50%;
    transform: translateY(-50%);
    bottom: initial!important;
    max-width: 450px;
    margin-top: 0;
    margin-bottom: 25px;
    color: white;
    background-color: rgba(0, 0, 300, 0.3);
    font-family: 'Oswald', sans-serif;
}

.carousel-caption h5 {
    color: #fff;
    font-size: 50px;
    position: relative;
    z-index: 1;
}

/*---------About----*/
#about{
    padding-top:50px;
    padding-bottom: 50px;
    color: #555;
    font-family: 'Oswald', sans-serif;
}

.about-content{
    padding-top: 20px;
    font-size: 18px;
}

.skills-bar p{
    margin-bottom: 6px;
    font-weight: 600;
    color: blue;
}

.progress-bar{
    border-radius: 16px;
}

.progress{
    border-radius: 16px !important;
    margin-bottom: 20px;
}

/*--------Features------*/

#features {
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../img/black-and-white.jpg);
    background-size: cover;
    background-position: center;
    color:#efefef;
    background-attachment: fixed;
    padding-top:50px;
    padding-bottom: 50px;
}

#features h1{
    text-align: center;
    color: #efefef;
    padding-bottom: 10px;
    font-family: 'Oswald', sans-serif;
}

#features h1::after{
    content: '';
    background: #efefef;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
    
}

#features h3{
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

/*------Finance Section-------*/

#finance h1{
    text-align: center;
    color: #555;
    padding-bottom: 10px;
    font-family: 'Oswald', sans-serif;
}

#finance h1::after{
    content: '';
    background: #555;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
    
}

.card-body h5{
    font-family: 'Oswald', sans-serif;
    text-align: center;
}


.list-group li{
    font-family: 'Oswald', sans-serif;
    border-color: blue;
    text-align: center;
}


/*-------Modal Button-------*/

.card-footer button{
    background-color: darkblue;
    border:none;
    transition: all .2s ease-in-out; 
    font-family: 'Oswald', sans-serif;
    text-align: center;
}
.card-footer button:hover { 
    background-color: darkblue;
    border:none;
    transform: scale(1.1); 
}

button.btn.btn-default{
    color: #fff;
}



/*------Contact-----*/

#contact{
    padding-top:50px;
    padding-bottom: 50px;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    background-color: #323030;
}

button.contact.btn.btn-info{
    background-color: darkblue;
    border:none;
    transition: all .2s ease-in-out; 
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 20px;
    
}

button.contact.btn.btn-info:hover{
    background-color: darkblue;
    border:none;
    transform: scale(1.1); 
}



    